@font-face{
	font-family: fontJungle;
	src:url(./fonts/Stick-Regular.ttf);
}
*{
	scroll-behavior: smooth;
	text-decoration: none;
}
body{
	font-family: fontJungle, sans-serif;
	background: rgba(0, 0, 0);
}
#parallax{
	height: 500px;
	background-image: url(./img/logo-wide.jpeg);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.logo{
	max-height: 90px;
	left: 0;
}
.slide-container img{
	width: 100%;
	height: auto;
	max-width: 300px;
}
p , aside{
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}
.title-container{
	display: flex;
	justify-content: center;
	background:black; 
}
.title-container .logo{
	max-height: 9rem;
}
.title{
	
	color:#fff;
	display: flex;
	width: 98%;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 3rem;
}


#price , #front , #booking , #aboutUs{
	background: rgba(255, 255, 255, 0.5);

}

/* Main Menu */
.main-menu__list{
	list-style: none;
	background: rgba(0, 0, 0, 0.7);
}
.main-menu__list , li ,a{
	transition: 1s;
	display: inline;
	padding-right: 1rem;
	padding-left: 1rem;
	color:#fff;
}
.main-menu__link:hover{
	transition: 1s;
	color: black;
	background: rgba(255,255,255,0.9);
}
.main-menu__link{
	font-size: 1.5rem;
	letter-spacing: 5px;
}
.main-menu{
	display: flex;
	justify-content: center;
	
}

/* Slider */

.slide-container{
	width: 400px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.slide-container.first {
	float:left;
}
.slide-container.second {
	float:right;
}
.slide-container__item{
	width: auto;
}
.prev , .next{
	cursor: pointer;
	top:50%;
	width: auto;
    margin-top: 125px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
	right: 0;
}
.reset{
	clear:both;
	height: 20px;
}

/* Button animation */
.buttons{
	display: flex;
	justify-content: center;
}
.btn-container{
	border: 2px solid #fff;
	display: inline-block;
	padding: 1rem;
	transition: 1s;
	width: auto;
	text-align: center;
	margin: 1rem;
	background: rgba(0,0,0);
}
.btn-container:hover{
	transition: 1s;
	background: #326273;
}
.btn-container span:hover{
	letter-spacing: 0.5rem;
	transition: 1s;
}
.btn-container span{
	transition: 1s;
}
.btn-contact span{
	color:#fff;
	font-size: 3rem;
}

/* Table */
.price-list{
	font-size: 3rem;
	cursor: pointer;
	border-spacing: 1rem;
	display: flex;
	justify-content: center;
	transition: 1s;
}
tr:hover{
	background: #fff;
	transition: 1s;
}

.subtitle-name{
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 1rem;
}

/* Gallery */

.gallery-slide{
	min-height: 400px;
	min-width: 900px;
	object-fit: cover;
}

.gallery{
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.gallery .prev , .gallery .next{
	margin-top: 15%;
}


/* Footer */

footer{
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer h3{
	color: #fff;
	font-size: 0.8rem;
	letter-spacing: 0.3rem;
}

footer .logo{

}

/* Fade */

.fade-in {
animation: fadeIn ease 20s;
-webkit-animation: fadeIn ease 1.5s;
-moz-animation: fadeIn ease 1.5s;
-o-animation: fadeIn ease 1.5s;
-ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


